<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Demo embed <%= slug %></title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      #player {
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="player">
      <iframe
        width="100%"
        height="100%"
        src="//<%= host %>/embed/<%= slug %>"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </body>
</html>
