<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title><%= title %></title>
    <style> * { margin: 0; padding: 0; } body { height: 100vh; } .jw-skip { zoom: 1.5; border: 1px solid #f00; background-color: #f70000; } .btn-out-ads { position: absolute; bottom: 9em; right: 1em; padding: 0.5em; font-weight: bold; border: 1px solid #f00; background-color: #f70000; } .modals { position: fixed; width: 100%; height: 100vh; overflow: hidden; z-index: 9999; display: flex; justify-content: center; align-items: center; } .modal { border: 1px solid #ffffff; background-color: #f0f0f0; padding: 1rem; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; } .modal .modal-footer{ margin-top: 1rem; } </style>
  </head>
  <body>
    <script
      id="load-player"
      src="//<%= host %>/_embed.js"
      data-slug="<%= slug %>"
      async
      defer
    ></script>
  </body>
</html>
