<!DOCTYPE html>
<html lang="th">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <title><%= title %></title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            body {
                height: 100vh;
            }
            .Textmsg {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 2rem;
                color: rgb(0, 0, 0);
            }
        </style>
    </head>
    <body>
        <div class="Textmsg"><%= msg %></div>
    </body>
</html>
